{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">FAQs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <h4>Is there a charge for initial visit to discuss the garden/your needs?</h4>
            <p>No</p>
            <h4>Can you remove garden/other waste?</h4>
            <p>Yes</p>
            <h4>Another question here</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae fugiat vero tenetur soluta officia,
                debitis
                obcaecati commodi deserunt, itaque, est a fugit distinctio tempore! Ex dolores numquam vero quibusdam
                odio?</p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="{% static 'home/images/flowers2.webp' %}" height="300"
                alt="garden border with colourful flowers" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Another question here</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae fugiat vero tenetur soluta officia,
                debitis
                obcaecati commodi deserunt, itaque, est a fugit distinctio tempore! Ex dolores numquam vero quibusdam
                odio?</p>
            <h4>Another question here</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae fugiat vero tenetur soluta officia,
                debitis
                obcaecati commodi deserunt, itaque, est a fugit distinctio tempore! Ex dolores numquam vero quibusdam
                odio?</p>
            <h4>Another question here</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae fugiat vero tenetur soluta officia,
                debitis
                obcaecati commodi deserunt, itaque, est a fugit distinctio tempore! Ex dolores numquam vero quibusdam
                odio?</p>
            <h4>Another question here</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae fugiat vero tenetur soluta officia,
                debitis
                obcaecati commodi deserunt, itaque, est a fugit distinctio tempore! Ex dolores numquam vero quibusdam
                odio?</p>
        </div>
    </div>
</div>


{% endblock %}