{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">FAQs</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <h4>Where are you based and what areas do you cover?</h4>
            <p>We are based in Dorking and provide Gardening Services to homeowners and commercial properties throughout
                East Surrey and the surrounding area. </p>
            <p><a href="mailto:nick@wild-eden.co.uk?subject=Website Enquiry">Contact us</a> to find out if we cover
                your area.</p>
            <h4>Will I have to pay for a consultation or quote?</h4>
            <p>No. Simply <a href="mailto:nick@wild-eden.co.uk?subject=Website Enquiry">contact us</a> and we will
                arrange to visit you at a convenient time to discuss your needs and prepare a free, no obligation quote.
            </p>
            <h4>How do I make payment?</h4>
            <p>When we agree the gardening services you require and the regularity of our visits we will ask you to set
                up a monthly standing order. You will receive a monthly invoice and payments can be adjusted as needed.
            </p>

        </div>
        <div class="col-12 col-lg-5">
            <img src="{% static 'home/images/purple_flowers3.jpg' %}" height="450"
                alt="garden border with colourful flowers" class="float-lg-right" />
        </div>
    </div>
    <div class="row my-5">
        <div class="col col-lg-4 d-none d-lg-block">
            <img src="{% static 'home/images/green_plant.jpg' %}" height="400" />
        </div>
        <div class="col-12 col-lg-8">
            <h4>Do you supply garden materials and flowers? </h4>
            <p>We will discuss and agree with you first any materials required. As we have relationships with local
                suppliers we will then source these on your behalf and add the cost to your invoice. </p>
            <h4>Do you take away all the generated waste? </h4>
            <p>We are registered waste carriers with the Environment Agency and can take any waste away for a charge.
                This will then be disposed of properly at a local waste transfer station.</p>
            <h4>Does the weather affect services?</h4>
            <p>We check the forecast on a daily basis but a bit of rain won’t put us off!</p>
        </div>

    </div>
</div>

{% endblock %}