{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}
<div class="contatiner-fluid text-center">
    <img src="{% static 'home/images/home3.jpg' %}" alt="photograph of colourful wild flowers" id="home-page-hero-img"
        class="d-none d-lg-block" />
    <img src="{% static 'home/images/mobile3.jpg' %}" alt="photograph of colourful wild flowers"
        id="home-page-mobile-img" class="d-block d-lg-none" />
    <div id="homepage-text-container">
        <img class="large-logo-text" src="{% static 'home/images/WE-textonly.png' %}" alt="Wild Eden logo text" />
        <h2 id="homepage-caption">FOR ALL YOUR GARDEN NEEDS</h2>
    </div>
</div>
<div class="container mb-4" id="about-container">
    <div class="row my-3">
        <div class="col-12 col-lg-7">
            <div class="row">
                <div class="col text-center">
                    <h2 class="display-4 mb-4 heading">About Us</h2>
                    <h3 class="heading mb-2">Who We Are</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-left mb-3">
                    <p>Wild Eden is a professional company providing high quality gardening services. Founded
                        and managed by Nick Keepen, after he graduated with a degree in horticulture, Wild Eden
                        is a
                        team of gardeners dedicated to providing a friendly, reliable, service at an affordable
                        price.</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 class="heading my-2">What We Do</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-left mb-3">
                    <p>We offer garden maintenance packages of outstanding quality in Surrey to suit all garden
                        sizes and budgets, from a quick trim and tidy to a full garden design and makeover. </p>
                    <p>With our gardening knowledge and experience, you can be sure to receive sound,
                        up-to-date, professional advice on all aspects of gardening.</p>
                    <p>This coupled with superb customer service standards, has allowed us to build our business
                        on personal recommendations.</p>
                </div>
            </div>
        </div>
        <div class="col12 col-lg-5 d-flex align-items-center justify-content-center">
            <img src="{% static 'home/images/walkway.jpg' %}" id="walkway-img"
                alt="grass pathway bordered by wild flowers" />
        </div>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner testimonial">
        <div class="carousel-item active">
            <blockquote class="blockquote text-center p-3 p-lg-5">
                <h5 class="my-lg-4 mx-2 mx-lg-5 px-2 px-lg-5 font-italic testimonial-text">'To the team, I am hugely
                    impressed with the
                    work
                    you completed and not only the quantity but the manner in which you worked. Nothing was too much
                    trouble, and you left the garden
                    very tidy – Thank you!!!'
                </h5>
                <footer class="blockquote-footer">Andrew, <cite title="Source Title">Dorking</cite>
                </footer>
            </blockquote>
        </div>
        <div class="carousel-item">
            <blockquote class="blockquote text-center p-3 p-lg-5">
                <h5 class="my-lg-4 mx-2 mx-lg-5 px-2 px-lg-5 font-italic testimonial-text">'Your advice and input has
                    transformed our
                    garden and it has
                    become a constant
                    source
                    of joy'
                </h5>
                <footer class="blockquote-footer">Sue, <cite title="Source Title">Brockham</cite>
                </footer>
            </blockquote>
        </div>
        <div class="carousel-item">
            <blockquote class="blockquote text-center p-3 p-lg-5">
                <h5 class="my-lg-4 mx-2 mx-lg-5 px-2 px-lg-5 font-italic  testimonial-text">'I wanted to make a point of
                    thanking you and
                    your team for the
                    way you
                    managed the
                    garden
                    for the wedding reception…..the garden does generally look good of course, but this time was a
                    stunning achievement. Every single guest I talked to told me how beautiful the garden was looking'
                </h5>
                <footer class="blockquote-footer">John, <cite title="Source Title">Shalford</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}