{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">Gallery</h1>
        </div>
    </div>
    <div class="row mt-3 mb-n4">
        <div class="col text-center">
            <p class="lead">Hover over the below images to view some of our garden transformations...</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center m-5">
            <figure>
                <img src="{% static 'home/images/before1.webp' %}" height="400"
                    alt="image of a garden before a makeover" />
                <figcaption>Before</figcaption>
            </figure>

        </div>
    </div>
    <div class="row">
        <div class="col text-center m-5">
            <img src="{% static 'home/images/before2.webp' %}" height="400" alt="image of a garden before a makeover" />
        </div>
    </div>
    <div class="row">
        <div class="col text-center m-5">
            <img src="{% static 'home/images/before3.webp' %}" height="400" alt="image of a garden before a makeover" />
        </div>
    </div>
    <div class="row">
        <div class="col text-center m-5">
            <img src="{% static 'home/images/before4.webp' %}" height="400" alt="image of a garden before a makeover" />
        </div>
    </div>
    <div class="row">
        <div class="col text-center m-5">
            <img src="{% static 'home/images/before5.webp' %}" height="400" alt="image of a garden before a makeover" />
        </div>
    </div>
</div>
{% endblock %}