{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">Gallery</h1>
        </div>
    </div>
    <div class="row m-3">
        <div class="col text-center">
            <p class="lead">Hover over the below images to view some of our garden transformations...</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            <div class="cf" class="shadow">
                <img class="bottom" src="{% static 'home/images/after1.webp' %}"
                    alt="image of a garden before a makeover" />
                <img class="top" src="{% static 'home/images/before1.webp' %}"
                    alt="image of a garden after a makeover" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            <div class="cf" class="shadow">
                <img class="bottom" src="{% static 'home/images/after3.webp' %}"
                    alt="image of a garden before a makeover" />
                <img class="top" src="{% static 'home/images/before3.webp' %}"
                    alt="image of a garden after a makeover" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            <div class="cf" class="shadow">
                <img class="bottom" src="{% static 'home/images/after4.webp' %}"
                    alt="image of a garden before a makeover" />
                <img class="top" src="{% static 'home/images/before4.webp' %}"
                    alt="image of a garden after a makeover" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            <div class="cf" class="shadow">
                <img class="bottom" src="{% static 'home/images/after5.webp' %}"
                    alt="image of a garden before a makeover" />
                <img class="top" src="{% static 'home/images/before5.webp' %}"
                    alt="image of a garden after a makeover" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-3">
            <div class="cf" class="shadow">
                <img class="bottom" src="{% static 'home/images/after2.webp' %}"
                    alt="image of a garden before a makeover" />
                <img class="top" src="{% static 'home/images/before2.webp' %}"
                    alt="image of a garden after a makeover" />
            </div>
        </div>
    </div>

</div>
{% endblock %}