{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="heading display-4">Plants</h1>
        </div>
    </div>
    <div class="row">
        {% for plant in plants %}
        <div class="col-12 col-md-6 col-lg-4 px-5 pb-5">
            <div class="card my-5 mx-auto green-border" style="width: 12rem;">
                {% if "placeholder" in plant.image.url %}
                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ plant.image.url }}" height="250" alt="{{plant.name}}">
                {% endif %}
                <!-- <img src="{{plant.image}}" class="card-img-top m-2" alt="{{plant.name}}"> -->
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{plant.name}}</h5>
                    <p class="card-text">Season: {{plant.season}}</p>
                    <p class="card-text">Location: {{plant.location}}</p>
                    <p class="card-text">Price: £{{plant.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}