{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- link to custom css file -->
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h1 class="heading display-4">Plants</h1>
        </div>
    </div>
    <div class="row">
        {% for plant in plants %}
        <div class="col-12 col-md-6 col-lg-4 px-5 pb-5">
            <div class="my-5 mx-auto text-center" style="width: 15rem;">
                {% if "placeholder" in plant.image.url %}
                <img src="{% static 'home/images/green_plant.jpg' %}">
                {% else %}
                <img src=" {{ plant.image.url }}" height="270" alt="{{plant.name}}">
                {% endif %}
                <!-- <img src="{{plant.image}}" class="card-img-top m-2" alt="{{plant.name}}"> -->
                <div>
                    <h5 class="text-center font-weight-bold my-2">{{plant.name}}</h5>
                    <p>Season: {{plant.season}}</p>
                    <p class="card-text">Location: {{plant.location}}</p>
                    <p class="card-text">Price: £{{plant.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}