{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">Services</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <p class="lead">We offer all aspects of on-going, high-quality garden maintenance. Our unique approach means
                we will create a bespoke, detailed solution to suit your individual needs, from a regular tidy to a full
                garden redevelopment.</p>
            <p>Our garden maintenance packages will be tailored to suit gardens and budgets of all sizes. Friendly,
                professional service combining personal consultation and advice about your garden and how to develop it
                to its full potential, as we get to know it over the seasons in order to design the best maintenance
                plan for you.

                All aspects of lawn care, shrubs, bedding plants, planting design, tree pruning and general garden
                maintenance are included and waste removal comes as standard.</p>
            <p>As we get to know you and your garden over the seasons, we will advice you how to develop your garden to
                its full potential. This might include planting designs, turf laying, fencing, even paving solutions,
                irrigation features and mature tree planting</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 mt-lg-3">
            <h4>Services We Provide</h4>
            <ul>
                <li>Year round garden maintenance</li>
                <li>Planting Design</li>
                <li>Irrigation (exempt from hosepipe bans)</li>
                <li>Turfing</li>
                <li>Lawn treatments</li>
                <li>Fencing</li>
                <li>One off clearances</li>
                <li>Registered waste carrier</li>
            </ul>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <img src="{% static 'home/images/Hampstead1.webp' %}" height="300" alt="image of a garden in Hampstead" />
        </div>
    </div>
</div>
{% endblock %}