{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col text-center">
            <h1 class="display-4 heading">Services</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <p class="lead">Our team of experienced and knowledgeable gardeners can provide a range of garden services
                from a regular tidy up and maintenance to a full garden makeover. </p>

        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6 mt-lg-3">
            <h4>Our services include:</h4>
            <ul>
                <li>Bedding & Plant Supply</li>
                <li>Fencing installation and repairs</li>
                <li>Fertilising & Scarifying</li>
                <li>Garden Design</li>
                <li>Hedge Cutting</li>
                <li>Landscape Gardening</li>
                <li>Lawn Care</li>
                <li>Seeding & Planting</li>
                <li>Watering & Treatments</li>
                <li>Weeding & Pruning</li>
            </ul>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <img src="{% static 'home/images/Hampstead1.webp' %}" height="320" alt="image of a garden in Hampstead" />
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center mb-4">
    <img class="mx-4" height="250" src="{% static 'home/images/circular_flowerbed.webp' %}"
        alt="image of a large wysteria plant" />
    <img class="mx-4" height="250" src="{% static 'home/images/garden_flowers.jpg' %}"
        alt="image of a large wysteria plant" />
    <img class="mx-4" height="250" src="{% static 'home/images/flower_border.jpg' %}"
        alt="image of a garden in Primrose Hill" />
</div>
{% endblock %}