.heading {
    color: rgb(1, 35, 1);
}

.green-border {
    border: 1px solid rgb(1, 35, 1) !important;
    border-radius: 0 !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#home-page-hero-img {
    width: 100vw;
    height: 80vh;
}

#homepage-text-container {
    background-color: rgba(0, 33, 0, 0.6);
    box-shadow: 0px 0px 10px 10px rgba(0, 33, 0, 0.6);
    position: relative;
    top: -25rem;
    z-index: 50;
}

#homepage-img-text {
    color: white;
    font-size: 7rem;
    text-shadow: -0.5px 0.5px 0 #014d01,
        0.5px 0.5px 0 #014d01,
        0.5px -0.5px 0 #014d01,
        -0.5px -0.5px 0 #014d01;
}

#homepage-caption {
    color: white;
}

#about-container {
    margin-top: -10rem;
}

.testimonial {
    background-color: rgb(191, 211, 191);
    height: 35vh;
}

.large-makeover-pic {
    position: relative;
    height: 360px !important;
    width: 540px !important;
    margin: 20px auto;
}

.small-makeover-pic {
    position: relative;
    height: 300px;
    width: 400px;
    margin: 20px auto;
}

.cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.51);
    background-color: white;
    margin: 0 auto;
}

.large-makeover-pic img {
    height: 300px !important;
    width: 450px !important;
}

.small-makeover-pic img {
    height: 300px !important;
    width: 420px !important;
}

.medium-makeover-pic img {
    height: 300px !important;
    width: 420px !important;
}



.cf img.top:hover {
    opacity: 0;
    background-color: white;
}

.custom-button {
    background-color: forestgreen;
    color: white;
}

.custom-button:hover,
.custom-button:active {
    background-color: rgb(79, 138, 79);
}

/* media queries */

@media screen and (max-width: 480px) {
    .cf img {
        height: 275px;
        width: 385px;
        padding: 1em;
    }

    .cf {
        position: relative;
        height: 280px;
        width: 420px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 420px) {
    .cf img {
        height: 250px;
        width: 330px;
        padding: 0.5em;
    }
}

@media screen and (max-width: 350px) {
    .cf img {
        height: 200px;
        width: 280px;
        padding: 0.5em;
    }
}