@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,700&display=swap');

.hero-font {
    font-family: 'Mali', cursive;
}

.custom-navbar,
.main-footer {
    background-color: forestgreen !important;
    color: white !important;
}

#nav-log {
    display: flex;
    flex-direction: row;
}


.main-footer a {
    color: white;
}

.main-footer li {
    display: inline-block;
    list-style: none;
}

.main-footer i {
    font-size: 2rem;
    padding-top: 20px;
}

.main-footer i:active,
.main-footer i:hover {
    font-size: 2.2rem;
}